<template>
  <div
    style="
      width: 80%;
      margin: auto;
      padding: 10 px;
      border: 2 px solid gray;
      border-radius: 15 px;
    "
  >
    <div class="from">
      <h2 style="text-decoration: underline; text-decoration-color: black">
        Add Info
      </h2>
      <label>Province :</label>
      <select v-model="addForm.province">
        <option v-for="i in Province" :key="i" :value="i.province">
          {{ i.province }}
        </option>
      </select>
      <label>Type :</label>
      <select v-model="addForm.type">
        <option v-for="i in Type" :key="i" :value="i.name">
          {{ i.name }}
        </option>
      </select>
      <label>Name :</label>
      <input type="text" v-model="addForm.name" />
      <label>Description :</label>
      <textarea cols="2" rows="5" v-model="addForm.description"></textarea>
      <label>Image URL :</label>
      <input type="text" v-model="addForm.imgURL" />
      <!-- <img v-if="addForm.imgURL !== ''" :src="addForm.imgURL" alt="" /> -->
      <div class="button action">
        <button @click="Addinfo()">Add</button>
        <button @click="Back()">Back</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      addForm: {
        province: "-- Please select --",
        type: "-- Please select --",
        name: "",
        description: "",
        imgURL: "",
      },
      Data: [],
      Province: [
        { ID: "1", TID: "6", province: "กรุงเทพมหานคร" },
        { ID: "2", TID: "6", province: "กระบี่" },
        { ID: "3", TID: "5", province: "กาญจนบุรี" },
        { ID: "4", TID: "2", province: "กาฬสินธุ์" },
        { ID: "5", TID: "3", province: "กำแพงเพชร" },
        { ID: "6", TID: "2", province: "ขอนแก่น" },
        { ID: "7", TID: "4", province: "จันทบุรี" },
        { ID: "8", TID: "4", province: "ฉะเชิงเทรา" },
        { ID: "9", TID: "4", province: "ชลบุรี" },
        { ID: "10", TID: "3", province: "ชัยนาท" },
        { ID: "11", TID: "2", province: "ชัยภูมิ" },
        { ID: "12", TID: "6", province: "ชุมพร" },
        { ID: "13", TID: "1", province: "เชียงราย" },
        { ID: "14", TID: "1", province: "เชียงใหม่" },
        { ID: "15", TID: "6", province: "ตรัง" },
        { ID: "16", TID: "4", province: "ตราด" },
        { ID: "17", TID: "5", province: "ตาก" },
        { ID: "18", TID: "3", province: "นครนายก" },
        { ID: "19", TID: "3", province: "นครปฐม" },
        { ID: "20", TID: "2", province: "นครพนม" },
        { ID: "21", TID: "2", province: "นครราชสีมา" },
        { ID: "22", TID: "6", province: "นครศรีธรรมราช" },
        { ID: "23", TID: "3", province: "นครสวรรค์" },
        { ID: "24", TID: "3", province: "นนทบุรี" },
        { ID: "25", TID: "6", province: "นราธิวาส" },
        { ID: "26", TID: "1", province: "น่าน" },
        { ID: "27", TID: "2", province: "บึงกาฬ" },
        { ID: "28", TID: "2", province: "บุรีรัมย์" },
        { ID: "29", TID: "3", province: "ปทุมธานี" },
        { ID: "30", TID: "5", province: "ประจวบคีรีขันธ์" },
        { ID: "31", TID: "4", province: "ปราจีนบุรี" },
        { ID: "32", TID: "6", province: "ปัตตานี" },
        { ID: "33", TID: "3", province: "พระนครศรีอยุธยา" },
        { ID: "34", TID: "1", province: "พะเยา" },
        { ID: "35", TID: "6", province: "พังงา" },
        { ID: "36", TID: "6", province: "พัทลุง" },
        { ID: "37", TID: "3", province: "พิจิตร" },
        { ID: "38", TID: "3", province: "พิษณุโลก" },
        { ID: "39", TID: "5", province: "เพชรบุรี" },
        { ID: "40", TID: "3", province: "เพชรบูรณ์" },
        { ID: "41", TID: "1", province: "แพร่" },
        { ID: "42", TID: "6", province: "ภูเก็ต" },
        { ID: "43", TID: "2", province: "มหาสารคาม" },
        { ID: "44", TID: "2", province: "มุกดาหาร" },
        { ID: "45", TID: "1", province: "แม่ฮ่องสอน" },
        { ID: "46", TID: "2", province: "ยโสธร" },
        { ID: "47", TID: "6", province: "ยะลา" },
        { ID: "48", TID: "2", province: "ร้อยเอ็ด" },
        { ID: "49", TID: "6", province: "ระนอง" },
        { ID: "50", TID: "4", province: "ระยอง" },
        { ID: "51", TID: "5", province: "ราชบุรี" },
        { ID: "52", TID: "3", province: "ลพบุรี" },
        { ID: "53", TID: "1", province: "ลำปาง" },
        { ID: "54", TID: "1", province: "ลำพูน" },
        { ID: "55", TID: "2", province: "เลย" },
        { ID: "56", TID: "3", province: "ศรีสะเกษ" },
        { ID: "57", TID: "2", province: "สกลนคร" },
        { ID: "58", TID: "6", province: "สงขลา" },
        { ID: "59", TID: "6", province: "สตูล" },
        { ID: "60", TID: "3", province: "สมุทรปราการ" },
        { ID: "61", TID: "3", province: "สมุทรสงคราม" },
        { ID: "62", TID: "3", province: "สมุทรสาคร" },
        { ID: "63", TID: "4", province: "สระแก้ว" },
        { ID: "64", TID: "3", province: "สระบุรี" },
        { ID: "65", TID: "3", province: "สิงห์บุรี" },
        { ID: "66", TID: "3", province: "สุโขทัย" },
        { ID: "67", TID: "3", province: "สุพรรณบุรี" },
        { ID: "68", TID: "6", province: "สุราษฎร์ธานี" },
        { ID: "69", TID: "2", province: "สุรินทร์" },
        { ID: "70", TID: "2", province: "หนองคาย" },
        { ID: "71", TID: "2", province: "หนองบัวลำภู" },
        { ID: "72", TID: "3", province: "อ่างทอง" },
        { ID: "73", TID: "2", province: "อำนาจเจริญ" },
        { ID: "74", TID: "2", province: "อุดรธานี" },
        { ID: "75", TID: "1", province: "อุตรดิตถ์" },
        { ID: "76", TID: "3", province: "อุทัยธานี" },
        { ID: "77", TID: "2", province: "อุบลราชธานี" },
      ],
      Type: [
        { TID: "1", name: "ภาคเหนือ" },
        { TID: "2", name: "ภาคตะวันออกเฉียงเหนือ" },
        { TID: "3", name: "ภาคกลาง" },
        { TID: "4", name: "ภาคตะวันออก" },
        { TID: "5", name: "ภาคตะวันตก" },
        { TID: "6", name: "ภาคใต้" },
      ],
    };
  },
  methods: {
    Addinfo() {
      if (JSON.parse(localStorage.getItem("data"))) {
        this.Data = JSON.parse(localStorage.getItem("data"));
        this.Data.push(this.addForm);
      } else {
        this.Data.push(this.addForm);
      }
      localStorage.setItem("data", JSON.stringify(this.Data));

      this.addForm.province = "";
      this.addForm.type = "";
      this.addForm.name = "";
      this.addForm.description = "";
      this.addForm.imgURL = "";
      this.Back();
    },
    Back() {
      this.$router.push("/");
    },
  },
};
</script>

<style scoped>
.from {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label,
h2 {
  width: 75%;
  text-align: start;
}

/* img {
  width: 75%;
  margin: 20px 0;
} */

textarea,
input,
select {
  width: 75%;
  text-align: start;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
  padding: none;
}

button {
  padding: 5px 20px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  opacity: 0.5;
}

.action {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
</style>
