<template>
  <button class="add button" @click="goAdd()">Add</button>
  <div class="home">
    <homepage />
    <!-- <homepage msg="ภาคเหนือ" />
    <homepage msg="ภาคตะวันออกเฉียงเหนือ" />
    <homepage msg="ภาคกลาง" />
    <homepage msg="ภาคตะวันออก" />
    <homepage msg="ภาคตะวันตก" />
    <homepage msg="ภาคใต้" /> -->
  </div>
</template>

<script scoped>
// @ is an alias to /src
import homepage from "@/components/Homepage.vue";

export default {
  name: "Home",
  components: {
    homepage,
  },
  methods: {
    goAdd() {
      this.$router.push("/add_info");
    },
  },
};
</script>

<style>
button {
  padding: 5px 20px;
  /* width: 20px; */
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-align: end;
  /* padding: 5px 5px; */
  margin-right: 10%;
  border: 1px solid black;
  border-radius: 5px;
  /* width: max-content; */
  float: right;
  cursor: pointer;
}

button:active {
  opacity: 0.5;
}
</style>
