<template>
  <div id="nav">
    <h1>Tourist Information</h1>
    <!-- <router-link to="/">Home</router-link> |
    <router-link to="/add_info">Add</router-link> -->
  </div>
  <router-view />
</template>

<style>
body {
  margin: 0;
}
#app {
  font-family: Kanit, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

::-webkit-scrollbar {
  display: none;
}
</style>
